.button {
    /* width: 100px;
    height: 30px; */
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: var(--btn-color);
    color: var(--main-color);
    border: 2px solid var(--third-color);
    border-radius: 6px;

    transition: background-color 300ms ease, color 300ms ease;
}

.button:hover,
.button:focus {
    /* color: white; */
    /* background-color: var(--third2-color); */
    background-color: #0b0730;
}