.container {
    position: relative;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 168px;
    padding: 4px 8px;
    background-color: var(--btn-color);
    border: 2px solid var(--third-color);
    border-radius: 6px;
    cursor: pointer;
}

.list {
    position: absolute;
    top: 30px;
    width: 168px;
    background-image: var(--bg-gradient);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
}

.item {
    padding: 4px;
    text-align: center;
    /* color: gray; */
    /* transition: background-color 300ms ease; */
}

.item:hover {
    background-color: var(--third2-color);
}

.checked {
    composes: item;
    background-color: #006909;
    color: var(--third-color);
}