.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 30px 20px;
}

.box {
    /* margin-top: 15px; */
}

.label {
    position: relative;
}

.label input {
    text-transform: capitalize;
    border-radius: 4px;
}

.multiInputBox {
    display: flex;
    margin-top: 20px;
    gap: 4px;
    padding: 2px;
    background-color: #fff;
    /* flex-wrap: wrap; */
}

.multiInputBox input {
    outline: none;
    border: none;
}

.title {
    position: absolute;
    font-size: 12px;
    transform: translateY(-120%);
}

.time {
    width: 80px;
}

.loc {
    width: 400px;
}

.title2 {
    position: absolute;
    font-size: 12px;
    transform: translate(-6px, -24px);
}

.listBox {
    position: relative;
    min-height: 20px;
    padding: 4px;
    border: 3px solid var(--third-color);
    border-radius: 6px;
}

.list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 5px;
    background: #598b9b;
    border-radius: 4px;

    text-transform: capitalize;
}

.icon {
    padding: 2px;
    background: #2c4750;
    border-radius: 50%;
    cursor: pointer;
}

.message {
    width: 100%;
    height: auto;
}

.copyMessage {
    width: 100%;
    min-height: 200px;
}
