.calendar {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.date {
    position: absolute;
    left: 178px;
    top: 10px;
    pointer-events: none;
    z-index: 200;
}

.datePicker {
    width: 115px;
    margin: 0;
    padding: 2px 12px 0px;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: 0.04em;
    margin-left: 10px;
    color: var(--main-color);
    background-color: var(--btn-color);
    border: none;
    border-radius: 5px;
}
